aclocal.m4
AUTHORS.in
*.bak
*.cache
config.status
configure
configure.ac
configure.scan
cscope.files
INSTALL
*.log
m4/
Makefile
Makefile.in
NOTES.html
NOTES.txt
README.html
README.txt
RELEASE.html
RELEASE.txt
scripts/
.*.sw[opq]
*.tar.xz
TODO.html
TODO.txt
xdm-unexicon-theme-*.tar.lz
